* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   background-color: white ;
}

.brand {
    height: 300px;
    width: 450px;
    padding: 10px 10px;
    

}
.logo {
    height: 60px;
    width: 60px;
    background-image: url("Logo.png");
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    
}

h1 {
    font-size: 40px;
    font-weight: 900;
    display: inline;
    line-height: 60px;
    vertical-align: middle;
}