* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { background-color: rgb(245, 245, 245);
    font-family: Arial, Helvetica, sans-serif;
    
}



.brand {
    height: 70px;
    width: 100%;
    padding-top: 10px;
    padding-left: 15px;
    background-color: white;
    

}

.logo,h1 {
    line-height: 60px;
    vertical-align: middle;

}
.logo {
    height: 60px;
    width: 60px;
    background-image: url("Logo.png");
    background-repeat: no-repeat;
    display: inline-block;
    
    
}

h1 {
    font-size: 40px;
    font-weight: 900;
    display: inline;
}

.container {
    max-width: 1080px;
    margin: 2px auto;
    padding-left: 95px;
    background-color:white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    
}

.buttons {
    width: 70px;
    height: 27px;
    border-radius: 5px;
    font-size: 14px;
    display: inline;   
}

#task{
    background-color: rgb(16, 181, 247);
    color: white;
    border:none;
}

#sections{
    background-color: white;
    color:lightslategray ;
    width: 90px;
}

ul {
    list-style: none;
}

.tasks-list {
  padding-top: 50px;
  padding-left: 0px;
  margin: 0px;
}

.subtitle {
    display: inline-block;
}
.arrow-down {
    display: inline-block;
    font-size: 10px;
    vertical-align: middle;
    padding-right: 5px;
}

.check {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display:inline-block;
    background-color: white;
    color: rgb(0, 255, 0);
    border: 1px solid greenyellow;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
}

.delete {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display:inline-block;
    background-color: white;
    color: red;
    border: 1px solid red;
    text-align: center;
    line-height: 16px;
    font-size: 12px;

}

.voice {
    margin-left: 2px;
    font-size: 14px;
    
}

.label {
    width: 60px;
    height: 18px;
    border-radius: 6px;
    font-size: 12px;
    display: inline; 
    color: white;  
    border: none;
}

.editorial {
    background-color: rgb(0, 213, 255);

}
.Q1 {
    background-color: rgb(155, 13, 226);

}

.recruiting {
    background-color: rgb(0, 207, 152);

}

.mobile {
    background-color: rgb(245, 175, 13);

}

.website {
    background-color: rgb(249, 5, 209);

}
.sales {
    background-color: rgb(215, 82, 25);

}



.row-voice {
    margin-top: 15px;
}

