* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   background-color: white ;
}

.brand {
    height: 150px;
    width: 450px;
    padding-top: 10px;
    padding-left: 15px;
    

}

.logo,h1 {
    line-height: 60px;
    vertical-align: middle;

}
.logo {
    height: 60px;
    width: 60px;
    background-image: url("Logo.png");
    background-repeat: no-repeat;
    display: inline-block;
    
    
}

h1 {
    font-size: 40px;
    font-weight: 900;
    display: inline;
}

.container {
    max-width: 1080px;
    margin: 2px auto;
    padding-left: 95px;
    background-color: rgb(255, 255, 255);
    
}

.buttons {
    width: 70px;
    height: 27px;
    border-radius: 5px;
    font-size: 14px;
    display: inline;   
}

#task{
    background-color: rgb(16, 181, 247);
    color: white;
    border:none;
}

#sections{
    background-color: white;
    color:lightslategray ;
    width: 90px;
    
    
}


